:root {
  --vp-home-hero-name-color: #003296;

  --vp-c-brand: rgb(00, 50, 150);
  --vp-c-brand-light: rgb(74, 102, 172);
  --vp-c-brand-lighter: rgb(74, 102, 172);
  --vp-c-brand-dark: rgb(74, 102, 172);
  --vp-c-brand-darker: rgb(74, 102, 172);
}

.tagline {
  max-width: 800px;
}

.u-flex {
  display: flex;
}

.u-flex .flex-none {
  flex: none;
}

.u-flex .flex-grow {
  flex-grow: 1;
}

.u-items-center {
  align-items: center;
}

.u-justify-start {
  justify-content: flex-start;
}

.u-justify-end {
  justify-content: flex-end;
}

.u-justify-center {
  justify-content: center;
}

.u-justify-between {
  justify-content: space-between;
}

.u-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
