:root {
  --vp-home-hero-name-color: #003296;

  --vp-c-brand: rgb(00, 50, 150);
  --vp-c-brand-light: rgb(74, 102, 172);
  --vp-c-brand-lighter: rgb(74, 102, 172);
  --vp-c-brand-dark: rgb(74, 102, 172);
  --vp-c-brand-darker: rgb(74, 102, 172);
}

.tagline {
  max-width: 800px;
}

// --------2022-08-02--------

a {
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  border: 0px;
  padding: 0px;
  line-height: 1;
}

.full-container {
  position: relative;
  width: 100%;

  .full-footer {
    height: 347px;
  }
}

.full-header {
  position: fixed;
  width: 100%;
  height: 72px;
  top: 0px;
  z-index: 1000;
}

.header-theme {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);

  .nav {
    a {
      color: #333;
    }

    .selected {
      color: #025bff;
    }
  }

  .lang {
    .zh {
      color: #333;
    }

    i {
      color: rgba($color: #333, $alpha: 0.5);
    }

    .en {
      color: #333;
    }
  }
}

.tiny-header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1000;
}

.tiny-header-theme {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);

  .nav-wrap {
    .expand {
      color: #333;
    }
  }

  .nav {
    a {
      color: #333;
    }

    .selected {
      color: #025bff;
    }
  }

  .lang {
    .zh {
      color: #333 !important;
    }

    i {
      color: #333 !important;
      // color: rgba($color: #333, $alpha: 0.5);
    }

    .en {
      color: #333 !important;
    }
  }
}

.u-flex {
  display: flex;
}

.u-flex .flex-none {
  flex: none;
}

.u-flex .flex-grow {
  flex-grow: 1;
}

.u-items-center {
  align-items: center;
}

.u-justify-start {
  justify-content: flex-start;
}

.u-justify-end {
  justify-content: flex-end;
}

.u-justify-center {
  justify-content: center;
}

.u-justify-between {
  justify-content: space-between;
}

.u-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}